In [17]:
import pandas as pd
import numpy as np

In [18]:
# Load from URL (Kaggle or GitHub dataset URL)
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
data = pd.read_csv(url)

In [19]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [20]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [21]:
data.shape

(891, 12)

In [25]:
pop_male = data[data['Sex']=='male']['Age'].dropna()
pop_female = data[data['Sex']=='female']['Age'].dropna()

In [26]:
pop_female

1      38.0
2      26.0
3      35.0
8      27.0
9      14.0
       ...
879    56.0
880    25.0
882    22.0
885    39.0
887    19.0
Name: Age, Length: 261, dtype: float64

In [27]:
sample_male = pop_male.sample(25)
sample_female = pop_female.sample(25)

In [28]:
alpha = 0.05

In [29]:
# H0 - Mean age of male and female are similar
# H1 - Mean age of male is higher than female

In [30]:
pop_male.mean()

np.float64(30.72664459161148)

In [31]:
pop_female.mean()

np.float64(27.915708812260537)

In [32]:
from scipy.stats import shapiro

# Perform the Shapiro-Wilk test for both desktop and mobile users
shapiro_male = shapiro(sample_male)
shapiro_female = shapiro(sample_female)

print("Shapiro-Wilk test for desktop users:", shapiro_male)
print("Shapiro-Wilk test for mobile users:", shapiro_female)

Shapiro-Wilk test for desktop users: ShapiroResult(statistic=np.float64(0.8595878294539396), pvalue=np.float64(0.0026928622240658044))
Shapiro-Wilk test for mobile users: ShapiroResult(statistic=np.float64(0.9428029226624949), pvalue=np.float64(0.17178952016767685))

In [33]:
from scipy.stats import levene

# Perform Levene's test
levene_test = levene(sample_male, sample_female)
print(levene_test)

LeveneResult(statistic=np.float64(0.8558984401377537), pvalue=np.float64(0.35951704485873104))

In [34]:
import scipy.stats as stats

t_statistic, p_value = stats.ttest_ind(sample_male, sample_female)

print("t-statistic:", t_statistic)
print("p-value:", p_value/2)

t-statistic: 1.7726711215616673
p-value: 0.04131462492466108

In [35]:
alpha = 0.05

if p_value < alpha:
    print("Reject the null hypothesis.")
else:
    print("Fail to reject the null hypothesis.")

Fail to reject the null hypothesis.